body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
}
#top, #button {
    height: 5%;
    width: 100%;
    background-color: #3498db;
}
#middle {
    height: 90%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ecc71;
}
canvas {
    image-rendering: pixelated;
}  